<app-menu></app-menu>
<body>
    
        <!-- MENU' A TENDINA DEI GENERI DEI FILM -->
<div>
    <h4>FILTRA LISTA</h4>
    <div>
        <select #genere class="classic">
            <option *ngFor="let genere of genereList" [value]="genere.id"> {{genere.description}} </option>
        </select> 
        <button class="button" (click)="filtra(genere.value)">FILTER</button> 
    </div>
    <div>
        <ul class="tilesWrap">
            <li *ngFor="let item of gameList">
                <h2>{{item.id}}</h2>
                <h3>{{item.nome  | uppercase}}</h3>
                <p>{{item.description}}</p>
                <button routerLink="/detail/{{item.id}}"> Vai al dettaglio </button> 
                <!-- Gli passo il path della pagina con l'id del gioco che desidero visualizzare -->
                <!-- Da gestire sulla pagina dell'id -->
            </li>
        </ul>
    </div>
</div>
</body>
