select{
    position: relative;
    //display: block;
    width: 50%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
}

option {
    cursor: pointer;
}

button{
    width: 100px;
    height: 30px;
	margin-left: 20px;
	padding: 9px 25px;
	font-size: 16px;
	background-color: lightskyblue;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

