<!-- QUI METTO I RIFERIMENTI AI SELETTORI DEGLI ALTRI COMPONENTI, che sono nel ts -->
<!-- <app-menu> </app-menu> -->
<!-- <app-login> </app-login> -->

<router-outlet> </router-outlet>  <!-- METTO COME PAGINA DI DEFAULT IL LOGIN-->


<!-- Codice senza routing commentato -->
<!--
    <div [ngSwitch]="componentToShow">
        <app-home *ngSwitchCase="1"></app-home>
        <app-game-list *ngSwitchCase="2" (showDetailEvent)="showDetailPage($event)"></app-game-list>
        <app-edit-game *ngSwitchCase="3"></app-edit-game>
        <app-game-detail *ngSwitchCase="4" [gameId]="gameIdForDetail"></app-game-detail>
    </div>
 -->


