<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <form class='login-form'>
        <div class="flex-row">
          <label class="lf--label" for="username"></label>
          <input #username id="username" class='lf--input' placeholder='Username' type='text'>
        </div>
        <div class="flex-row">
          <label class="lf--label" for="password"></label>
          <input #password id="password" class='lf--input' placeholder='Password' type='password'>
        </div>
        <input (click)="login(username.value, password.value)" class='lf--submit' type='submit' value='LOGIN'>
        <input routerLink="/signin"  class='lf--submit' type='submit' value='REGISTRATI'>

      </form>
</body>
</html>