header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	background-color: yellowgreen;
  }

.nav_links{
	list-style: none;
}
  
.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

button{
	margin-left: 20px;
	padding: 9px 25px;
	font-size: 16px;
	background-color: white;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}


button:hover{
	outline:none;
	background-color: grey;
}


